* {
    margin: 0px;
    padding: 0px;
}

nav {
    position: sticky;
    top: 0px;
    background-color: black;
    height: 14vh;
    z-index: 1;
}

#home {
    color: white;
    font-size: 40px;
}

.chotu {
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    color: white;
}

#one {
    margin-top: 30px;
    margin-left: 60px;
    vertical-align: top;
    display: inline-block;
    position: sticky;
    top: 0px;

}

#two {
    margin-left: 30px;
    vertical-align: top;
    margin-top: 30px;
    display: inline-block;

}
#fixed{
    background-color: green;
    height: 30px;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#contact{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    position: relative;
    top: 0px;
}
#card{
    height: 620px;
    width: 550px;
    background-color: bisque;
    margin: 50px auto;
    border-radius: 30px;
    position: relative;
}
img{
    height: 50%;
    width: 550px;
    border-radius: 30px 30px 0px 0px;
}
#head{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 20px;
    /* margin: 20px; */
}
.line{
    font-size: 20px;
    margin: 10px 20px;
}
button{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgb(230, 20, 104);
    border: none;
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 12px;
}
#forsale{
    
    background-color: red;
    color: white;
    padding: 10px 28px;
    position: absolute;
    left: 20px;
    top: 10px;
    border-radius: 10px;

}
#heart{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    top: 10px;
}
#price{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 28px;
    position: absolute;
    left: 10px;
    top: 260px;
    border-radius: 10px;
}
#about{
    margin-left: 140px;
}
.bot{
    font-size: 20px;
    margin: 14px 0px;
}